<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus.ak95.hd" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Happy Dussehra"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".First_Login"
            android:label="Happy Dussehra" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Second_Main"
            android:label="@string/title_activity_second__main"
            android:theme="@style/FullScreenTheme">
        </activity>
    </application>

</manifest>
